extends layouts/app-wels
block content

	main.cd-main-content.main-user.main-checkout
		.container
			.row.warp-check
				h1 Thanh toán
				span Tổng tiền:&nbsp;&nbsp;
					h3(style="color: red; display: inline-block")=number_format($total)
						| &nbsp;VNĐ
				form#checkout-form(action=route('checkout'), method="post")
					#charge-error.alert.alert-danger(class=(!Session::has('error') ? 'hidden' : ''))=(Session::get ('error'))

					div
						.form-group
							label(for="name") Tên
							input#name.form-control(type="text", required, name="name", value=(Auth::user()->name))

						.form-group
							label(for="address") Địa chỉ
							input#address.form-control(type="text",required, name="address",value=(Auth::user()->email)))
					div!=csrf_field()
					div.text-right
						button.btn.btn-success(type="submit") Mua ngay

	include layouts/app-wels-footer