extends layouts/app-wels
block content
	main.cd-main-content.main-user
		.container
			#tour-con.col-xs-12.col-sm-7
				ul.bxslider
					navs = $tour->image
					each nav, i in navs
						li
							img(src='../img/'+nav)


				.row
					h3.tour-name=$tour->name

					.col-xs-8.col-lg-7.tour-det
						ul.detail-lab.col-lg-4
							li Thời gian:
							li Khởi hành:
							li Số chỗ còn nhận:
						ul.detail-inf.col-lg-8
							li=$tour->day
								|  ngày
							li=date('d/m/Y',strtotime($tour->depart_date))
							li=$tour->number
								|  chỗ
					.col-xs-4.col-lg-5.p-b
						h3.gia=number_format($tour->price)
							sup VND
						p
							a.btn.btn-default(href='#', role='button') Đặt ngay
					.clearfix
					.detail-tour
						ul.nav.nav-tabs(role='tablist', style='margin-bottom: 20px;')
							li.active(role='presentation')
								a(href='#chuongtrinh', aria-controls='chuongtrinh', role='tab', data-toggle='tab') Chương trình
							li(role='presentation')
								a(href='#binhluan', aria-controls='binhluan', role='tab', data-toggle='tab') Bình luận
						.tab-content
							#chuongtrinh.tab-pane.fade.in.active(role='tabpanel')
								div!=$tour->schedule
							#binhluan.tab-pane.fade(role='tabpanel')
								.fb-comments(data-href='http://doan.dev/detail', data-numposts='5')
								#fb-root
								script.
									(function(d, s, id) {
									var js, fjs = d.getElementsByTagName(s)[0];
									if (d.getElementById(id)) return;
									js = d.createElement(s); js.id = id;
									js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.9";
									fjs.parentNode.insertBefore(js, fjs);
									}(document, 'script', 'facebook-jssdk'));
				hr
			#sidebar.col-xs-6.col-sm-5
				#myaffix
					ul.sum-tour
						h3.headers Tóm tắt chuyến đi
						tt = json_decode('[["Ngày 1: TP.HCM - SA ĐÉC - CẦN THƠ (Ăn ba bữa)","#ngay1"],["Ngày 2: CẦN THƠ - CÀ MAU (Ăn ba bữa)","#ngay2"],["Ngày 3: CÀ MAU - ĐẤT MŨI - BẠC LIÊU (Ăn ba bữa)","#ngay3"],["Ngày 4: BẠC LIÊU - SÓC TRĂNG - TP.HCM (Ăn sáng, trưa)","#ngay4"]]')
						each tts,i in tt
							li
								a(href="#{tts[1]}") #{tts[0]}
							hr

	include layouts/app-footer
	script(src='../js/ckeditor/ckeditor.js', type='text/javascript', charset='utf-8')
	script(src='../js/sticky-kit.min.js', type='text/javascript')
	//- script(src='../js/jquery.scrollTo.min.js', type='text/javascript')
	script(type='text/javascript', src='../js/bxslider.min.js')

	script(type='text/javascript').
		$(function(){
			$('#myaffix').affix({
				offset: {
					top: $('#tour-con').offset().top,
					bottom: (function () {
						return (this.bottom = $('.page-footer').outerHeight(true))
					})
				}
			})
		});
		$('.bxslider').bxSlider({
			speed: 800,
			auto: true,
			hideControlOnEnd: true,
			controls: true
		});

		//- smooth scroll
		var offset=100;
		$(".sum-tour").on("click","a[href*=\\#]:not([href=\\#])", function(event){
			var hash = this.hash;
			var $target = $(hash);
			 if($target.length){
				$("html,body").stop().animate({
					scrollTop: $target.offset().top - offset
				}, 800, function(){
					if(history.pushState) {
						history.pushState(null, null, hash);
					}
				});
				event.preventDefault();
			}
		});

		CKEDITOR.replace( 'editor1' );