.input-group .form-control
  &:first-child
    border-right: 1px solid #9a9a9a
  &:last-child
    border-left: 1px solid #9a9a9a

.input-to
  border-color: #9a9a9a

.wizard-card .tab-content
  min-height: auto

.wizard-container
  padding-top: 70px

.btn-create-tour
  display: block
  margin: 6px 0 0

