.clearfix
footer.page-footer
  .container
    .row
      .col-md
        h5.white-text Footer Content
        p.grey-text You can use rows and columns here to organize your footer content.
  .footer-copyright
    .container
      span.grey-text &copy; 2017 Copyright Text

include app-wels-script