script(type='text/javascript', src='../js/jquery-3.2.1.min.js', charset='utf-8')
script(type='text/javascript', src='../js/jquery-ui.js', charset='utf-8', async='', defer='')
script(type='text/javascript', src='../js/bootstrap3.min.js', charset='utf-8')
script(type='text/javascript', src='../js/nav-main.js', charset='utf-8')
script(type='text/javascript', src='../js/tether.min.js', charset='utf-8')
script(type='text/javascript', src='../js/bxslider.min.js')
script(type='text/javascript', src='../js/parallax.js')
script(type='text/javascript', src='../js/select.js')

