script(type='text/javascript', src='../js/jquery-3.2.1.min.js', charset='utf-8')
script(type='text/javascript', src='../js/jquery-ui.js', charset='utf-8', async='', defer='')
script(type='text/javascript', src='../js/bootstrap3.min.js', charset='utf-8')
script(type='text/javascript', src='../js/nav-main.js', charset='utf-8')
script(type='text/javascript', src='../js/tether.min.js', charset='utf-8')
script(type='text/javascript', src='../js/bxslider.min.js')
script(type='text/javascript', src='../js/parallax.js')
script(type='text/javascript', src='../js/select.js')
//- Go to www.addthis.com/dashboard to customize your tools
script(type='text/javascript', src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5913f75434cfc03d')
script(type='text/javascript', src='../js/cartcontroller.js')
script(type='text/javascript', src='../js/jquery.dotdotdot.min.js')
script(type='text/javascript').

	$('#shopping').on('shown.bs.modal', function(){
		$('.h-c').dotdotdot({
			height: 30,
			width: 30,
		});
	})
	$('.h-g-intro').dotdotdot({
		height: 30,
	});